  <div class="movie_card" id="results">
    <h2> <%= @movies.title %></h5>
    <p> <%= @genre %></p>
    <h2> <%= @year %></h5>
    <a href="http://127.0.0.1:32400/web/index.html#!/server/ca33fa646bf46c9b4df20fb142df43327c5463d0/details?key=%2Flibrary%2Fmetadata%2F48105" target="_blank">
    <img src="<%= @poster %>"  alt="movie poster">
    </a>
    <h5><%= @plot %></h5>
  </div>
