  <div class="movie_card" id="results">
    <h2> <%= @title %></h5>
    <p> <%= @year %></p>
    <p> <%= @genre %></p>
    <img src="<%= @poster %>"  alt="movie poster">
    <h5><%= @plot %></h5>

  </div>
