<div class="scroll-btn">
<a href="#home"><i class="fas fa-arrow-up"></i></a>
</div>
<div class="banner">
  <div class="banner-container">
    <h1>Welcome to a stress free evening of food and film!</h1>
    <p> Start your movie and food finding journey below.</p>
     <% unless user_signed_in? %>
    <button class="sign-up"><a href="/users/sign_up">Sign up</a></button>
    <% else %>
    <div class="container"><%= link_to "Begin Journey", survey_path, class: "btn btn-danger " %></div>
    <% end %>
  </div>
</div>

<div class="mood">
  <div class="mood-text">
    <h1>Find the perfect film for your mood! </h1>
    <p> With our quick and easy survey we will have all the info we need to find you the perfct film for your night in. </p>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel" data-interval="1000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="mood-images" style="background-image: url(<%= image_path 'happy.png' %>)"></div>
      </div>
      <div class="carousel-item">
        <div class="mood-images" style="background-image: url(<%= image_path 'sad.png' %>)"></div>
      </div>
      <div class="carousel-item">
        <div class="mood-images" style="background-image: url(<%= image_path 'angry.png' %>)"></div>
      </div>
    </div>
  </div>



</div>

</div>


<div class="food">

  <div class="food-images" style="background-image: url(<%= image_path 'food.png' %>)"></div>


 <div class="food-text">
    <h1>Bring on the Food!</h1>
    <p> What goes better with a movie than the perfect meal? And with our movie pick comes a stressfree food recommendation.</p>
 </div>
</div>
