<br>
<br>
<br>
<br>
<br>

<div class="container">


<%= form_for :otp , url:otp_path do |f| %>
  <%= f.label :Fantasy %>
  <%= f.check_box :Fantasy, {}, 'Fantasy', false %>
  <%= f.label :Thriller %>
  <%= f.check_box :Thriller, {}, 'Thriller', false  %>
  <%= f.label :crime %>
  <%= f.check_box :crime , {}, 'Crime', false %>
  <%= f.label :War %>
  <%= f.check_box :War, {}, 'War', false  %>
  <%= f.label :Action %>
  <%= f.check_box :Action, {}, 'Action', false  %>
  <%= f.label :Biography %>
  <%= f.check_box :Biography, {}, 'Biography', false  %>
  <%= f.label :Adventure %>
  <%= f.check_box :Adventure, {}, 'Adventure', false  %>
  <%= f.label :Adventure %>
  <%= f.check_box :History, {}, 'History', false  %>
  <%= f.label :History %>
  <%= f.check_box :SciFi, {}, 'Sci-Fi', false  %>
  <%= f.label :SciFi %>
  <%= f.check_box :Romance, {}, 'Romance', false  %>
  <%= f.label :Romance %>
  <%= f.check_box :Western, {}, 'Western', false  %>
  <%= f.label :Western %>
  <%= f.check_box :Comedy, {}, 'Comedy', false  %>
  <%= f.label :Comedy %>
  <%= f.check_box :Animation, {}, 'Animation', false  %>
  <%= f.label :Animation %>
  <%= f.check_box :Family, {}, 'Family', false  %>
  <%= f.label :Family %>
  <%= f.check_box :Mystery, {}, 'Mystery', false  %>
  <%= f.label :Mystery %>
  <%= f.check_box :Music, {}, 'Music', false  %>
  <%= f.label :Music %>
  <%= f.check_box :Horror, {}, 'Horror', false  %>
  <%= f.label :Horror %>
  <%= f.check_box :FilmNoir, {}, 'Film-Noir', false  %>
  <%= f.label :FilmNoir %>
  <%= f.submit %>
<% end %>

</div>
