<br>
<br>
<br>
<br>
<br>

<div class="container">
<h1> Pick a few of the images that match your current movie mood</h1>
  <%= form_for :otp , url:otp_path do |f| %>
  <div class="genres">
    <%= f.check_box :Fantasy, {class: 'checkbox fantasy'}, 'Fantasy', false %>
    <%= f.label :Fantasy %>
    <%= f.check_box :Thriller, {class: 'checkbox thriller'}, 'Thriller', false  %>
    <%= f.label :Thriller %>
    <%= f.check_box :crime , {class: 'checkbox crime'}, 'Crime', false %>
    <%= f.label :crime %>
    <%= f.check_box :War, {class: 'checkbox war'}, 'War', false  %>
    <%= f.label :War %>
    <%= f.check_box :Action, {class: 'checkbox action'}, 'Action', false  %>
    <%= f.label :Action %>
    <%= f.check_box :Biography, {class: 'checkbox biography'}, 'Biography', false  %>
    <%= f.label :Biography %>
    <%= f.check_box :Adventure, {class: 'checkbox adventure'}, 'Adventure', false  %>
    <%= f.label :Adventure %>
    <%= f.check_box :History, {class: 'checkbox history'}, 'History', false  %>
    <%= f.label :History %>
    <%= f.check_box :SciFi, {class: 'checkbox scifi'}, 'Sci-Fi', false  %>
    <%= f.label :SciFi %>
    <%= f.check_box :Romance, {class: 'checkbox romance'}, 'Romance', false  %>
    <%= f.label :Romance %>
    <%= f.check_box :Western, {class: 'checkbox western'}, 'Western', false  %>
    <%= f.label :Western %>
    <%= f.check_box :Comedy, {class: 'checkbox comedy'}, 'Comedy', false  %>
    <%= f.label :Comedy %>
    <%= f.check_box :Animation, {class: 'checkbox animation'}, 'Animation', false  %>
    <%= f.label :Animation %>
    <%= f.check_box :Family, {class: 'checkbox family'}, 'Family', false  %>
    <%= f.label :Family %>
    <%= f.check_box :Mystery, {class: 'checkbox mystery'}, 'Mystery', false  %>
    <%= f.label :Mystery %>
    <%= f.check_box :Music, {class: 'checkbox music'}, 'Music', false  %>
    <%= f.label :Music %>
    <%= f.check_box :Horror, {class: 'checkbox horror'}, 'Horror', false  %>
    <%= f.label :Horror %>
    <%= f.check_box :FilmNoir, {class: 'checkbox filmnoir'}, 'Film-Noir', false  %>
    <%= f.label :FilmNoir %>
  </div>
  <div class="slider-container">
    <h1>Filter your movie reccomendation based on release year </h1>
    <div class="multi-range-slider">
      <input type="range" id="minyear" min="1930" max="2021" value="1930" name="otp[minyear]">
      <input type="range" id="maxyear" min="1930" max="2021" value="2021" name="otp[maxyear]">

      <div class="slider">
        <div class="track"></div>
        <div class="range"></div>
        <div class="thumb left"></div>
        <div class="thumb right"></div>
      </div>
      <div class="output1">
        <output id="output1"></output>
      </div>
      <div class="output2">
        <output id="output2"></output>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="buttoncontainer">
    <%= button_tag do %>
      <a class="bigredbutton"></a>
    <% end %>
  <% end %>
  </div>

</div>
