<br>
<br>
<br>
<br>
<br>

<div class="container">

<%= form_for :otp , url:otp_path do |f| %>

  <%= f.check_box :Fantasy, {class: 'checkbox'}, 'Fantasy', false %>
  <%= f.label :Fantasy %>
  <%= f.check_box :Thriller, {class: 'checkbox'}, 'Thriller', false  %>
  <%= f.label :Thriller %>
  <%= f.check_box :Crime , {class: 'checkbox'}, 'Crime', false %>
  <%= f.label :Crime %>
  <div class="middle">
  <div class="multi-range-slider">
    <input type="range" id="minyear" min="1930" max="2021" value="1930" name="otp[minyear]">

    <input type="range" id="maxyear" min="1930" max="2021" value="2021" name="otp[maxyear]">


    <div class="slider">
      <div class="track"></div>
      <div class="range"></div>
      <div class="thumb left"></div>
      <div class="thumb right"></div>
    </div>
    <div class="output1">
      <output id="output1"></output>
    </div>
    <div class="output2">
      <output id="output2"></output>
    </div>
  </div>
</div>
  <%= f.submit %>
<% end %>



</div>
