<br>
<br>
<br>
<br>
<br>
<br>
<div class="pairings_container" style="display: flex; justify-content: center">
  <%= render 'shared/moviecard' %>
  <h2><%= @random_saying %></h2>
  <div style="zindex: 3; align-self: center;">
    <%= image_tag 'highfive2.gif' %>
  </div>
  <%= render 'shared/foodcard' %>
</div>
    <div class="container"><%= link_to "Back to quizz", survey_path, class: "btn btn-danger " %></div>
