<br>
<br>
<br>
<br>
<br>
<br>
<div class="pairings_container" style="display: flex; justify-content: center">
  <%= render 'shared/moviecard' %>
  <div style="zindex: 3; align-self: center;">

    <%= image_tag 'movie-food-connecter.png' %>

    <p><%=@saying%></p>

  </div>
  <%= render 'shared/foodcard' %>
</div>
    <div class="container"><%= link_to "Back to quizz", survey_path, class: "btn btn-danger " %></div>
