<br>
<br>
<br>
<br>
<h2 style="text-align: center; color: #f8f7f2; text-shadow: 2px 2px #810000; font-size: 50px;">It's a match!</h2>
<div class="pairings_container" style="display: flex; justify-content: center; margin-top: 50px;">
  <%= render 'shared/moviecard' %>
  <div style="zindex: 3; align-self: center;">

    <%= image_tag 'movie-food-connectersrgb2.png' %>

    <p class="saying" style="margin: 0 auto; margin-top: 75px; width: 350px; color: #f8f7f2;"><%=@saying%></p>

  </div>
  <%= render 'shared/foodcard' %>
</div>

    <div class="container"><%= link_to "Movie ChatRoom", 'https://www.whatever.watch/chatrooms/2', class: "sign-up m-4" %></div>

    <div class="container"><%= link_to "Back to quiz", survey_path, class: "sign-up" %></div>

<div style="margin-top: 50px"; class="footer">
  <p><a href="https://twitter.com/watch_whatever"><i class="fab fa-twitter-square"></i></a></p>
  <p><span class="smaller">© 2021 Whatever, Inc.</span></p>
</div>
