<div class="container text-white">
<h1><%= @movies.title %></h1>
<h1><%= @foods.dish %></h1>
</div>

<br>
<br>
<h1>Pairings Show Page</h1>
<br>
<div class="pairings_container" style="display: flex; justify-content: center">
  <%= render 'shared/moviecard' %>
  <div style="zindex: 3; align-self: center;">
    <%= image_tag 'highfive.gif' %>
  </div>
  <%= render 'shared/foodcard' %>
</div>
